anthropic
hubspot-api-client
apscheduler
pytz
python-dotenv
python-telegram-bot==20.7
openai
requests
flask
tavily-python
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
faster-whisper
gTTS
google-genai
youtube-transcript-api
beautifulsoup4
